@tailwind base;
@tailwind components;
@tailwind utilities;

.lgbg {
  background-image: url(../src/assets/Rectangle-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Card {
  background-image: url(../src/assets/rectangle-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-P {
  background-image: url(../src/assets/Fondo-P.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-NP {
  background-image: url(../src/assets/Fondo-N-P.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Contenido {
  background-image: url(../src/assets/PrincipalContenidoP.png);
  background-repeat: no-repeat;
  background-size: cover;
}

